{% extends "base.html" %}

{% block content %}
<form method="post">
    {{ form.csrf_token() }}
    <div style="width:100%;">
        <label>{{ form.title.label }}</label> 
        <div>{{ form.title(size=60) }}</div>
    </div>
    <div style="width:100%;">
        <label>{{ form.subject.label }}</label> 
        <div>{{ form.subject(size=60) }}</div>
    </div>
    <div style="width:100%;">
        <label>{{ form.body.label }}</label> 
        <div>{{ form.body(rows='25',cols='52') }}</div>
    </div>   
    {{ form.submit }}
{% endblock %}